@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.elixir-red {
  color: #ec1b24;
}

.elixir-red-bg {
  background-color: #ec1b24;
}

.elixir-gray {
  color: #2c2c2c;
}

.elixir-olive {
  color: #373833;
}
.elixir-olive-bg {
  background-color: #373833;
}

.elixir-black {
  color: #1b1a1f;
}

.elixir-black-bg {
  background-color: #1b1a1f;
}

.hero-title {
  font-size: 42px;
  line-height: 1.15;
  font-weight: 510;

  @media (min-width: 768px) {
    font-size: 58px;
    line-height: 1.2;
  }

  @media (min-width: 1024px) {
    font-size: 68px;
  }

  @media (min-width: 1280px) {
    font-size: 72px;
  }
}

.section-title {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 510;

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 4rem;
    line-height: 80px;
  }

  @media (min-width: 1280px) {
    font-size: 64px;
    line-height: 77px;
  }
}

.section-heading {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 36px;
  }

  @media (min-width: 1024px) {
    font-size: 38px;
  }

  @media (min-width: 1280px) {
    font-size: 40px;
    font-weight: 500;
  }
}

.regular-heading {
  font-size: 24px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 26px;
  }

  @media (min-width: 1024px) {
    font-size: 26px;
  }
   @media (min-width: 1280px) {
    font-size: 28px;
  }
}

.para-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
 

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.small-text {
  font-size: 16px;
  line-height: 1.4;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.normal-text {
  font-size: 15px;
  line-height: 28px;
  font-weight: 350;
  letter-spacing: 0.02em;

  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    font-size: 15px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
  }
}

.hero-btn-text {
  font-size: 13.5px;
  color: white;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    font-size: 14px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
  }
}

.red-btn-text {
  font-size: 14px;
  color: white;
  font-weight: 300;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.taghead-text {
  font-size: 15.5px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.circular-radius-default {
  transform: translate(-50%, -50%) translateY(-50px);
  @media (min-width: 640px) {
    /* sm */
    transform: translateY(-55px);
  }

  @media (min-width: 768px) {
    /* sm */
    transform: translateY(-55px);
  }

  @media (min-width: 1024px) {
    /* lg */
    transform: translateY(-60px);
  }
  @media (min-width: 1280px) {
    /* xl */
    transform: translateY(-62px);
  }
}


/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
